.navbar {
    background-color: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-brand {
    color: #000000;
    font-weight: bold;
  }
  
  .navbar-toggler {
    border: none;
    color: #000000;
  }
  
  .navbar-toggler-icon {
    background-color: #000000;
  }
  
  .form-control {
    border: none;
    border-radius: 30px;
    color: #333333;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .form-control:focus {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .btn-primary {
    border-radius: 30px;
    background-color: #FFFFFF;
    color: #007BFF;
    border: none;
  }
  
  .btn-primary:hover {
    background-color: #A555EC;
    color: #FFFFFF;
  }
  
  .nav-link {
    color: #000000;
  }
  
  .nav-link i {
    font-size: 18px;
  }
  
  .nav-link:hover {
    color: #A555EC;
  }
  
  .search-categories {
    margin-right: 10px;
    color: #000000;
  }
  
  .search-categories select {
    background-color: #FFFFFF;
    color: #FFFFFF;
    border: none;
  }
  
  .search-categories option {
    background-color: #FFFFFF;
    color: #FFFFFF;
  }
  
  .nav-link:hover i {
    color: #A555EC;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }

  /* Styling untuk header */
  .header {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 1200px;
  }

  /* Styling untuk card */
  .card {
    background-color: rgb(137, 238, 83);
    padding: 20px;
    margin-top: -25%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 80%;
    max-width: 1200px;
  }

  /* Styling untuk link */
  .links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
  }

  .links a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  
  /* carosel */
  /* Reset CSS */
  .promo {
    background-color: #f5f5f5;
    padding: 80px 0;
  }
  
  .promo h2 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 40px;
  }
  
  .promo-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .promo-item {
    text-align: center;
    margin: 20px;
    max-width: 300px;
  }
  
  .promo-item img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .promo-item h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .promo-item p {
    color: #777;
    margin-bottom: 10px;
  }
  
  .promo-item .btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .promo-item .btn:hover {
    background-color: #555;
  }
  

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

footer p {
  font-size: 14px;
}


  /* carosel end */

/* corousel start */

.container-carousel {
  background-color: #229fa5;
  padding: 10px 0 0 0;
}

/* Slideshow container */
.content-slide {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.imgslide {
  display: none;
}

.img-carousel {
  vertical-align: middle;
  width:100%;height: 400px;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  color: rgb(255, 254, 224);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.8); 
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.pre:hover,
.next:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: rgb(0, 0, 0);
}

.text {
  color: #fafafa;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.content-slide .numberslide {
  color: #ffffff;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* resposive */

@media screen and (max-width: 800px) {

  .content-slide {
      padding: 8px 50px 12px 50px;
  }

  .next {
      right: 50px;
      border-radius: 3px 0 0 3px;
  }
  
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
      opacity: .4;
  }

  to {
      opacity: 1;
  }
}

@keyframes fade {
  from {
      opacity: .4;
  }    
  to {
      opacity: 1;
  }
}

.container .page {
  text-align: center;
  padding-top: 20px;
}

.page .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  display: inline-block;
  transition: background-color 0.6s ease;
  border-radius: 50%;
}

.page .active,
.page .dot:hover {
  background-color: #ce0000;
}

/* carousel end */